<header>
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor"
        stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-phone">
        <path
            d="M22 16.92v3a2 2 0 0 1-2.18 2 19.79 19.79 0 0 1-8.63-3.07 19.5 19.5 0 0 1-6-6 19.79 19.79 0 0 1-3.07-8.67A2 2 0 0 1 4.11 2h3a2 2 0 0 1 2 1.72 12.84 12.84 0 0 0 .7 2.81 2 2 0 0 1-.45 2.11L8.09 9.91a16 16 0 0 0 6 6l1.27-1.27a2 2 0 0 1 2.11-.45 12.84 12.84 0 0 0 2.81.7A2 2 0 0 1 22 16.92z">
        </path>
    </svg>
    - 044-2388 0477
</header>

<body align="center">
    <div class="container">
        <div class="nav">
            <a href="">HOME</a>
            <a href="contactUsPage">CONTACT US</a>
            <a href="aboutUsPage">ABOUT US</a>
            <a href="loginPage">LOGIN</a>
        </div>
        <br>
        <h4>REGISTRATION SECTION</h4>
        <br>
        <form novalidate [formGroup]="patientForm" (ngSubmit)="addPatient()">
            <fieldset>
                <table>
                    <!----------------------------------------------------------------------------------------------------------------->
                    <tr>
                        <th>FIRST NAME</th>
                        <th>:</th>
                        <th><input type="text" placeholder="Enter your first name..." formControlName="firstName"><span
                                class="mandatory"> *</span></th>
                        <th
                            *ngIf="patientForm.get('firstName').hasError('required') && patientForm.get('firstName').touched">
                            <span class="mandatory">First Name is mandatory</span>
                        </th>
                    </tr>
                     <!----------------------------------------------------------------------------------------------------------------->
                    <tr>
                        <th>LAST NAME</th>
                        <th>:</th>
                        <th><input type="text" placeholder="Enter your last name..." formControlName="lastName"><span
                                class="mandatory"> *</span></th>
                        <th
                            *ngIf="patientForm.get('lastName').hasError('required') && patientForm.get('lastName').touched">
                            <span class="mandatory">Last Name is mandatory</span>
                        </th>

                    </tr>
                     <!----------------------------------------------------------------------------------------------------------------->
                    <tr>
                        <th>EMAIL ID</th>
                        <th>:</th>
                        <th><input type="email" placeholder="Enter you mail id..." formControlName="patientEmail"><span
                                class="mandatory"> *</span></th>
                        <th
                            *ngIf="patientForm.get('patientEmail').hasError('required') && patientForm.get('patientEmail').touched">
                            <span class="mandatory">Email Id is mandatory</span>
                        </th>
                    </tr>
                     <!----------------------------------------------------------------------------------------------------------------->

                   <!--  <div class="form-group">
                        <input type="password" [(ngModel)]="userdata.password" name="password" placeholder="Password" class="form-control" required #password="ngModel" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" />
                        <div *ngIf="password.invalid && (myform.submitted || password.touched)" class="alert alert-danger">
                          <div *ngIf="password.errors.required"> Password is required. </div>
                          <div *ngIf="password.errors.pattern"> Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters.</div>
                        </div>
                       </div>
                       
                       <div class="form-group">
                        <input type="password" [(ngModel)]="userdata.confirmpassword" name="confirmpassword" placeholder="Confirm Password" class="form-control" required #confirmpassword="ngModel" pattern="{{ password.value }}" />
                        <div *ngIf=" confirmpassword.invalid && (myform.submitted || confirmpassword.touched)" class="alert alert-danger">
                          <div *ngIf="confirmpassword.errors.required"> Confirm password is required. </div>
                          <div *ngIf="confirmpassword.errors.pattern"> Password & Confirm Password does not match.</div>
                        </div>
                       </div> -->
                       <!----------------------------------------------------------------------------------------------------------------->  
                    <tr>
                        <th>PASSWORD</th>
                        <th>:</th>
                        <th><input type="password" placeholder="Enter your new password"><span class="mandatory" formControlName = "password">
                                *</span></th>
                        <th
                            *ngIf="patientForm.get('password').hasError('required') && patientForm.get('password').touched">
                            <span class="mandatory">Please enter your pasword</span>
                        </th>
                    </tr>
                     <!----------------------------------------------------------------------------------------------------------------->

                    <tr>
                        <th>CONFIRM PASSWORD</th>
                        <th>:</th>
                        <th><input type="password" placeholder="Confirm your password..."><span class="mandatory" formControlName = "confirmPassword">
                                *</span></th>
                        <th
                            *ngIf="patientForm.get('confirmPassword').hasError('required') && patientForm.get('confirmPassword').touched">
                            <span class="mandatory">Please confirm your pasword</span>
                        </th>

                    </tr>
                     <!----------------------------------------------------------------------------------------------------------------->
                    <tr>
                        <th>PHONE NUMBER</th>
                        <th>:</th>
                        <th><input type="text" placeholder="Enter your phone number" formControlName="phoneNumber"><span
                                class="mandatory"> *</span></th>
                        <th
                            *ngIf="patientForm.get('phoneNumber').hasError('required') && patientForm.get('phoneNumber').touched">
                            <span class="mandatory">Phone number is mandatory</span>
                        </th>

                    </tr>
                     <!----------------------------------------------------------------------------------------------------------------->
                </table>
                <br>
                <h5>PERSONAL DETAILS</h5>
                <br>
                <table class="table2">
                    <tr>
                        <th>DATE OF BIRTH</th>
                        <th>:</th>
                        <th><input type="date" placeholder="mm/dd/yyyy" formControlName="dateOfBirth"></th>
                    </tr>

                    <tr>
                        <th>ALTERNATE PHONE NUMBER</th>
                        <th>:</th>
                        <th><input type="text" formControlName="alternatePhoneNumber"></th>
                    </tr>
                    <tr>
                        <th>ALTERNATE MAIL ID</th>
                        <th>:</th>
                        <th><input type="text" formControlName="alternateEmail"></th>
                    </tr>
                    <tr>
                        <th>BLOOD GROUP</th>
                        <th>:</th>
                        <th><select class="bloodGroup" formControlName="bloodGroup">
                                <option value="null">---Select Blood group---</option>
                                <option value="O+">O positive</option>
                                <option value="B+">B positive</option>
                                <option value="B-">B negative</option>
                                <option value="AB+">AB positive</option>
                                <option value="AB-">AB negative</option>
                                <option value="others">Others</option>
                            </select>
                        </th>
                    </tr>

                </table>
            </fieldset>
                <br>
                <button class="buttons" type="submit" [disabled] = "patientForm.invalid">SUBMIT</button>
                <button class="buttons" type="reset">CLEAR</button>
            
        </form>
        <br>
        Already have an account? <button class="buttons">SIGN IN</button>
    </div>
    <br>
    <br>
</body>