<!DOCTYPE html>
<html>
<head>
<title>Scan Centre</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

</head>
<body>
	<header>
		<br>
		<h3>Scan Centre</h3>
		<br>
	</header>

	<div class="nav">
	</div>
	<br>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-4" style="background-color: #CCEEFF">
				<h4 class="blackheading">X-RAY-SCAN</h4>
                <img src="https://tse1.mm.bing.net/th?id=OIP.XfIFaBb9wYJ0v9NH8z8LPQHaE8&pid=Api&rs=1&c=1&qlt=95&w=171&h=114" 
                      alt="" width="150" height="100">
				<br>
                <br>
				<p>X-rays are a form of electromagnetic radiation,like light.They are less 
                    energetic than gamma rays and more energetic than ultraviolet light.
                    They pass easily through soft tissue such as organs and muscles. 
                    They don’t pass as easily through hard tissue such as bones and teeth,
                    so they produce images of skeletal structures —the X-ray images we are
                    most familiar with. Additionally, sometimes a person ingests or is 
                    injected with an opaque X-ray fluid that will fill a space of interest
                    for X-ray imaging.</p>
                    <br>
                    <br>
                
                 <p class="blackheading">The cost of X-ray Scan is 700</p>
				
			</div>
			<div class="col-sm-4" style="background-color: #CCEEFF">
				<h4 class="blackheading">MRI-SCAN</h4>
                <img src="https://tse1.mm.bing.net/th?id=OIP.fiJ0XdrdKaAoouNeLRSxyAHaE8&pid=Api&rs=1&c=1&qlt=95&w=171&h=114" 
                       alt="" width="150" height="100">
				<br>
                <br>
				<p>In magnetic resonance imaging (MRI), radio waves of a specific frequency 
                    are used to jostle the nuclei of hydrogen atoms, which are plentiful in 
                    both water and fats. Powerful magnets detect the hydrogen response and 
                    map the locations of the tissues where the hydrogen resides.An MRI does 
                    not use ionizing radiation (such as X-rays), and the radio waves are longer 
                    and have lower energy thanvisible light or microwaves have. Most MRI machines 
                    are huge and very expensive. A group here at Los Alamos is building an ultra
                    -sensitive, low-power MRI that will fit in a pick-up truck. </p>
                    <p class="blackheading">The cost of X-ray Scan is 1000</p>
				
			</div>
			<div class="col-sm-4" style="background-color: #CCEEFF">
				<h4 class="blackheading">CT-SCAN</h4>
                <img src="https://media.gettyimages.com/photos/doctor-showing-ct-scan-to-patient-picture-id493216325?k=20&m=493216325&s=612x612&w=0&h=uUaAcekAZpM5cMr1X76s3vedOBYxQX985D2Bz-Q9rkM=" 
                              alt="" width="150" height="100">
				<br>
                <br>
				<p>A computerized tomography (CT) scan is usually a seriesof X-rays taken from 
                    different angles and then assembled into a three-dimensional model by a
                     computer. Tomography means a picture of a slice. While an X-ray may show 
                     edges of soft tissues all stacked on top of each other, the computer used 
                     for a CT scan can figure out how those edges relate to each other in space, 
                     so the CT image is more useful for understanding blood vessels and soft tissue.</p>
                     <br>
                     <br> 

                     <p class="blackheading">The cost of X-ray Scan is 1200</p>
				
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div class="col-sm-4" style="background-color: #CCEEFF">
				<h4 class="blackheading">CARDIAC SCAN</h4>
                <img src="https://media.gettyimages.com/photos/indian-doctor-doing-a-heart-ultrasound-to-a-middle-aged-male-patient-picture-id917730100?k=20&m=917730100&s=612x612&w=0&h=iYZgiEJffmUcxn00HA7bBeOPBYispx_3wkvKStYcL3M=" 
                       alt="" width="150" height="100">
				<br>
                <br>
				<p>cardiac CT scan may be performed in a medical imaging facilityor hospital. 
                    The scan usually takes about 15 minutes to complete, but can take more 
                    than an hour including preparation time and,  if needed, the time to take 
                    medicines such as beta blockers to slow your heart rate. Before the test, 
                    a contrast dye, often iodine,may be injected into a vein in your arm. This 
                    contrast dye highlights  your blood vessels and creates clearer pictures. 
                    You may feel some discomfort from the needle or, after the contrast dye is 
                    injected,you may feel warm briefly or have a temporary metallic taste in
                     your mouth. </p>
                     <p class="blackheading">The cost of X-ray Scan is 1400</p>
			</div>
			<div class="col-sm-4" style="background-color: #CCEEFF">
				<h4 class="blackheading">PET-SCAN</h4>
                <img src="https://media.istockphoto.com/photos/patient-lying-inside-a-medical-scanner-in-hospital-picture-id503663386?k=20&m=503663386&s=612x612&w=0&h=iU1D0tk7aDUB32oZQWh9EI2StDUD5DdLFvVyFThT6zA=" 
                         alt="" width="150" height="100">
				<br>
                <br>
				<p>A positron emission tomography (PET) scan is an imaging test that 
                    can help reveal the metabolic or biochemical function of your tissues
                    and organs. The PET scan uses a radioactive drug (tracer) to show both 
                    normal and abnormal metabolic activity. A PET scan can often detect the
                    abnormal metabolism of the tracer in diseases before the disease shows 
                    up on other imaging tests, such as computerized tomography (CT) and 
                    magnetic resonance imaging (MRI).</p>
                    <br>
                    <br>
                    <p class="blackheading">The cost of X-ray Scan is 1500</p>
				
			</div>
			<div class="col-sm-4" style="background-color: #CCEEFF">
				<h4 class="blackheading">DXA SCAN</h4>
                <img src="https://media.gettyimages.com/photos/rheumatology-consultation-senior-picture-id697571705?k=20&m=697571705&s=612x612&w=0&h=ktmCz5j-NgDjmQrRgfuEjx4_EodNENP_wZ98kkDyxUY="
                            alt="" width="150" height="100">
				<br>
                <br>
				<p> A DEXA scan is a type of medical imaging test. It uses very low 
                    levels of x-rays to measure how dense your bones are. DEXA stands 
                    for “dual-energy X-ray absorptiometry.”Bone density scans are very 
                    safe. They use a much lower level of radiation than standard X-rays,
                     which means that the radiographer (the technical specialist carrying 
                     out the scan) can stay in the scanning room with you during the scan.</p>
                     <br>
                    <br>
                    <br>
                     <p class="blackheading">The cost of X-ray Scan is 2000</p>
				
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div class="col-sm-4" style="background-color: #CCEEFF">
				<h4 class="blackheading">ECG</h4>
                <img src="https://media.gettyimages.com/photos/keeping-a-close-monitor-on-the-patients-state-of-health-picture-id995967102?k=20&m=995967102&s=612x612&w=0&h=yRkO3rb6m8ztR-pVnrCutskp5Lv_MygDJQxjQndaQQc=" 
                        alt="" width="150" height="100">
				<br>
                <br>
				<p>An electrocardiogram is a graphic record produced by an electrocardiograph 
                    that provides details about one’s heart rate and rhythm and depicts if the 
                    heart has enlarged due to hypertension (high blood pressure) or evidence of
                    a myocardial infarction previously (heart attack if any). Electrocardiogram 
                    (ECG) is one of the most common and effective tests in all drugs. It is easy
                    to perform, non-invasive, yields outcomes instantly, and is useful to identify
                    hundreds of heart conditions.</p>
                    <br>
                    <br>
                    <p class="blackheading">The cost of X-ray Scan is 3000</p>
				
			</div>
			<div class="col-sm-4" style="background-color: #CCEEFF">
				<h4 class="blackheading">ULTRASOUND SCAN</h4>
                <img src="https://tse1.mm.bing.net/th?id=OIP.DeZkLdR_a4NJzb9gq_i3iQHaE8&pid=Api&rs=1&c=1&qlt=95&w=180&h=120" 
                       alt="" width="150" height="100">
				<br>
                <br>
				<p>An ultrasound scan is a painless test that uses sound wavesto create images of 
                    organs and structures inside your body. It is a very commonly used test. As it
                     uses sound waves it is thought to be very safe.Doppler and duplex scans are 
                     used to visualise blood or fluids flowing through the body.Ultrasound  may 
                     also be used for treating certain conditions, particularly those of muscles, 
                     tendons and joints. The scan may be used to guide an injection which can help 
                     to treat the problem. Doing the injection with the help of an ultrasound scan 
                     makes sure it reaches exactly the right place.</p>

                     <p class="blackheading" >The cost of X-ray Scan is 2500</p>
                
			</div>
			<div class="col-sm-4" style="background-color: #CCEEFF">
				<h4 class="blackheading">CARDIAC CALCIUM SCORING</h4>
                <img src="https://tse1.mm.bing.net/th?id=OIP.ChIbPFaaXP_bIPerNrBQdwHaFo&pid=Api&rs=1&c=1&qlt=95&w=145&h=110" 
                       alt="" width="150" height="100">
				<br>
                <br>
				<p>A heart scan, also known as a coronary calcium scan, is a specialized 
                    X-ray test that provides pictures of your heart that can help your 
                    doctor detect and measure calcium-containing plaque in your arteries.
                    Plaque inside the arteries of your heart can grow and restrict blood 
                    flow to the muscles of your heart. Measuring calcified plaque with a
                    heart scan may allow your doctor to identify possible coronary artery
                    disease before you have signs and symptoms.</p>
                    <br>
                    <br>
                    <p class="blackheading">The cost of X-ray Scan is 5000</p>
				
			</div>
		</div>
		<br>
		<br>
	</div>
	<br>
	<br>

</body>
</html>

