<!DOCTYPE html>
<html>
<head>
<title>CANTIN</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">

</head>
<body>
	<header>
		<br>
		<marquee behavior=alternate bgcolor=cceeff><h3> CANTEEN FACILITIES</h3></marquee>
        <br>
        <br>
		<img src="https://tse1.mm.bing.net/th?id=OIP.AEe0Myt6W2QMkRYwWnjD2wHaFv&pid=Api&rs=1&c=1&qlt=95&w=155&h=120"width="500" height="300" ><br>
        <br>
		<p>The Hospital has a well-equipped Catering Facility for Patients, their Relatives, Doctors & Staff and even for any walk in person. The primary aspect of canteen is to provide quality and hygienically safe food to all who come in.
           The Main Kitchen for all the outlets is in the "B" wing of Basement. Kitchen is well equipped with many automatic and latest types of equipments. Steam heating is used for cooking, so that the nutrients in the food could be maintained.
           An automatic dishwasher is also installed in every canteen to keep hygienic conditions at the top level.There are three food outlets in the premises -24 hours Coffee Shop in SS (New) Building on the Ground Floor.Canteen in GS (Old) Building 
           in the Basement.3rd outlet is in the form of a take away counter which is located on 2nd Floor of SS Building.The canteens serving food in civic wards of districts and taluka places of Karnataka. The canteen serves breakfast, lunch, and dinners. Aimed at aiding economically disadvantaged sections of society at a subsidized price.</p>
	    <br>
        <br>
        <img src="https://b.zmtcdn.com/data/pictures/9/18180999/2cbd0515d452fce608a7b66642d5e114_featured_v2.jpg?output-format=webp&fit=around|771.75:416.25&crop=771.75:416.25;*,*" alt="" width="200" height="200">
        <img src="https://b.zmtcdn.com/data/reviews_photos/76f/a32d664a2b7e8715770ff35f298b076f_1462676028.jpg?fit=around%7C200%3A200&crop=200%3A200%3B%2A%2C%2A" alt="">
        <img src="https://media.istockphoto.com/photos/chef-standing-behind-full-lunch-service-station-with-assortment-of-picture-id1138204965?k=20&m=1138204965&s=612x612&w=0&h=8DBx69GCH_5Zeb9G5hjjImLbgPh5jVClJw2YqPi0wrs=" alt=""width="200" height="200">
        <img src="https://media.istockphoto.com/photos/commercial-kitchen-picture-id157590504?k=20&m=157590504&s=612x612&w=0&h=xa0MnsHmcwO5zOHDcJENPoL8cpIxV6f6_nJ2TXIC7Qo=" alt=""width="200" height="200">
        <img src="https://media.istockphoto.com/photos/lunch-service-station-picture-id177392719?k=20&m=177392719&s=612x612&w=0&h=8LGNcbZVRU8Y1NKWaR5Zp_bW0HSvvNlV5YhpQVKT18s=" alt=""width="200" height="200">
    </header>
</body>
</html>
