header{
    font-size: small;
    padding: 5px;
    text-align: right;
    color: black;
    background-color:skyblue;
}

.nav{
    background-color: white;
}
.nav a{
    font-weight: 400;
    color: black;
    padding: 20px;
    text-decoration: none;
}

.nav a:hover{
    color:skyblue;
}

.nav a:active{
    color: skyblue
}

h4{
    text-align: center;
}

.buttons {
    align-content: center;
	color:black;
    background-color:skyblue;
    text-decoration:none;;
    border:none;
    padding:8px 14px;
    font-size:15px;
    margin-left: 10px;
    
}
.buttons:hover{

	color:black;
    background-color:whitesmoke;
    border: 2px solid black;
}

.mandatory{
    color:red;
}

footer{
    background-color:skyblue;
   text-align:center;
   color: black;  
   font-size: 10px;
}

a{
    text-decoration: none;
    color:black;
    padding-left: 30px;
}

table{
    width: 70%;
    margin-left: 18%;
}

.buyButtons{
    color:black;
    background-color: skyblue;
    padding: 8px 14px;
    border: none;
    margin-right: 10px;
}

.buyButtons:hover{
    color:black;
    background-color: whitesmoke;
    border: 2px solid black;
    
    
}

.deleteButtons{
    color:black;
    background-color: skyblue;
    padding: 8px 14px;
    border: none;
}

.deleteButtons:hover{
    color:black;
    background-color: #ed3232;
    border: 2px solid black;
}




